$primary: #BB00FF;
$secondary: #C9C9C9;
$background: #000;
$white: #C9C9C9;

$theme: (
    "texts": (
        "primary": $primary,
        "secondary": $secondary,
        "white": $white
    ),
    "backgrounds": (
        "simple": $background
    ),
    "borders": (
        "fullBox": 1.5px solid $primary
    )
);
